USE [IB15_DBVerwaltung_ps733]
GO

CREATE OR ALTER PROCEDURE [postgresauditreport].[usp_personrolelist_para]
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT 'DataEnabler'+space(35 - len('DataEnabler'))	PersonRole UNION ALL
	SELECT 'DataOwner'+space(35 - len('DataOwner'))		PersonRole UNION ALL
	SELECT 'DataSteward'+space(35 - len('DataSteward'))	PersonRole 
END
