USE [IB15_DBVerwaltung_ps59_1]
GO

CREATE OR ALTER PROCEDURE [MONGODBauditreport].[usp_serverlist_para]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT DISTINCT ins.IDSQLServerInstance, ins.connectionname 
    FROM [MONGODBauditreport].[vOverview_ServerList] ins
	ORDER BY connectionname;

END
